<ion-view title="{{ localize('Learning Language') }}">
    <ion-nav-buttons side="right">
        <button class="button" ui-sref="home">
            <i class="icon ion-home"></i>
        </button>
    </ion-nav-buttons>
  <ion-content has-header="true" has-tabs="true" padding="true" overflow-scroll="true">
      <!--<div class="card" padding="true">-->
          <h3 padding="true">{{ localize("Learning Language") }}</h3>
          <form name="myForm">

              <!--
              <div ng-repeat="lang in supportedLanguages" class="list">
                  <label class="item item-radio">
                  <input type="radio"
                         name="selectedLang"
                         value="{{lang}}"
                         ng-model="settings.targetLocale"
                         ng-change="emailSelectionChanged()">
                    <div class="item-content">
                        {{lang}}
                  </div>
                  <i class="radio-icon ion-checkmark"></i>
                  </input>
                  </label>
              </div>
              -->

              <ion-radio ng-repeat="lang in listSupportedLanguages()"
                         ng-value="lang.id"
                         ng-model="settings.targetLocale" class="small">
                  {{lang.name}}
              </ion-radio>

        </form>

    <!--</div>-->
  </ion-content>
</ion-view>
