<ion-view title="'Play'">
  <ion-content has-header="true" has-tabs="true" padding="true">
      <div class="bar bar-header bar-light">
          <h1 class="title">{{native.tit.txt[0]}}</h1>
      </div>
      <img class="full-image" src="{{ settings.play.img }}"/>


      <div ng-repeat="line in getLines()">
          <!--<div class="row responsive-sm">-->
              <div ng-switch on="line.isYou">

                  <!-- YOU -->
                  <div ng-switch-when="true">
                      <div class="row responsive-sm">
                          <div class="col col-75 col-offset-25 button-balanced">
                              {{ line.nativeActor }}: {{ line.nativeText }}
                          </div>
                          <div class="item-thumbnail-right"> <!--col col-10 col-offset-90-->
                              <img src="{{ line.actorImg }}" />
                              <a class="button" ng-click="record()" padding="true"><i class="icon ion-android-microphone"></i></a>
                          </div>
                      </div>
                  </div>

                  <!-- OTHER PERSON -->
                  <div ng-switch-default>
                      <div class="row responsive-sm">
                          <div class="col col-75 button-calm gabi-left">
                              {{ line.nativeActor }}: {{ line.targetText }}
                          </div>
                      </div>
                      <div class="row responsive-sm">
                          <div class="col col-25 gabi-left"> <!--col col-10-->
                              <img src="{{ line.actorImg }}" />
                          </div>
                      </div>
                  </div>
              </div>
          <!--</div>-->
    </div>
  </ion-content>

</ion-view>
