<ion-view title="Gab" swipe-page>
  <ion-content has-header="true" has-tabs="true" padding="true">
      <div class="bar bar-header bar-light">
          <h1 class="title">{{native.tit.txt[0]}}</h1>
      </div>
      <img class="full-image" src="{{ settings.play.img }}"/>

      <div>
          {{ getPageTitleNative() }}
      </div>

      <div ng-repeat="line in getLines()">
          <div ng-switch on="line.isYou">

              <!-- YOU -->
              <div ng-switch-when="true">
                  <div class="row gabi-minusbottom" ng-show="lineIndex >= line.index">
                      <div class="col col-75 col-offset-25 gabi-right">
                          <div ng-switch on="line.currentStatus">
                              <button ng-switch-when="1" class="button button-block button-balanced" ng-click="record(line.index)">
                                  {{ line.targetText }}
                                    <i class="icon ion-checkmark-circled gabi-float-right"></i>
                              </button>
                              <button ng-switch-when="0" class="button button-block button-energized" ng-click="record(line.index)">
                                  {{ line.nativeText }}
                                  <i class="icon ion-android-microphone gabi-float-right"></i>
                              </button>
                              <button ng-switch-when="-1" class="button button-block button-assertive" ng-click="record(line.index)">
                                  {{ line.nativeText }}
                                  <i class="icon ion-close-circled gabi-float-right"></i>
                              </button>
                          </div>
                      </div>
                  </div>
                  <div class="row gabi-minusbottom" ng-show="lineIndex >= line.index">
                      <div class="col col-25 col-offset-75 gabi-right"> <!--col col-10 col-offset-90-->
                          <div class="gabi-centered">
                              <img src="{{ getMyIcon(line.index) }}" class="gabi-narrowbottom"/><br/>
                              {{ line.nativeActor }}
                          </div>
                          <!--<a class="button" ng-click="record()" padding="true"><i class="icon ion-android-microphone"></i></a>-->
                      </div>
                  </div>
              </div>

              <!-- OTHER PERSON -->
              <div ng-switch-default>
                  <div class="row gabi-minusbottom" ng-show="lineIndex >= line.index">
                      <div class="col col-75 button-calm gabi-left">
                          <button class="button button-block button-calm">
                                {{ line.targetText }}
                          </button>
                      </div>
                  </div>
                  <div class="row gabi-minusbottom" ng-show="lineIndex >= line.index">
                      <div class="col col-25 gabi-left"> <!--col col-10-->
                          <div class="gabi-centered">
                            <img src="{{ line.actorImg }}" class="gabi-narrowbottom" /><br/>
                              {{ line.nativeActor }}
                          </div>
                      </div>
                  </div>
              </div>

              <!--<div ng-switch on="line.index">-->
                  <!--<div ng-switch-when="0">-->
                      <!--{{ playTargetAndAdvance(0) }}-->
                  <!--</div>-->
              <!--</div>-->
          </div>
    </div>
  </ion-content>

</ion-view>
