<!--
  This template loads for the 'settings' state (app.js)
-->
<ion-view title="Settings">
  <ion-content has-header="true" has-tabs="true" padding="true">
      <div class="list">


          <a class="item" ui-sref="tab.settings-native">
              Your language: {{ displayNativeLocale() }}
          </a>

          <a class="item" ui-sref="tab.settings-target">
              Learning: {{ displayTargetLocale() }}
          </a>

          <div class="item item-divider">
              Skill Level in {{ displayTargetLocale() }}
          </div>

          <div class="item range range-positive">
              <i class="icon ion-ios7-star-outline"></i>
              <input type="range" name="skill" min="1" max="10" ng-model="settings.skillLevels[Settings.targetLocale]">
              <i class="icon ion-ios7-star"></i>
          </div>
    </div>

  </ion-content>
</ion-view>
