<ion-content ng-controller="PlayCtrl">

    <!--<div class="button-bar gabi-skip-buttons">-->
        <!--<a class="button positive" ng-click="tooHard()">{{ localize("Too Hard!") }}</a>-->
    <!--</div>-->

    <!--<div class="button-bar gabi-skip-buttons">-->
        <!--<a class="button positive" ng-click="skip()">{{ localize("Skip") }}</a>-->
    <!--</div>-->

    <!--<div class="button-bar gabi-skip-buttons">-->
        <!--<a class="button positive" ng-click="tooEasy()">{{ localize("Too Easy!") }}</a>-->
    <!--</div>-->

    <!--<div class="button-bar gabi-skip-buttons positive-bg">-->
        <!--<a class="button" ng-click="gabiWrong()">{{ localize("I was right but you said I was wrong.") }}</a>-->
    <!--</div>-->

    <!--<ion-toggle ng-model="settings.hintMode" toggle-class="toggle-positive">{{ localize("Hint Mode") }}</ion-toggle>-->

    <!--<div class="button-bar gabi-skip-buttons">-->
        <!--<a class="button positive" ng-click="tryAgain()">{{ localize("OK") }}</a>-->
    <!--</div>-->


    <p>{{ iHeard() }}</p>
    <div class="list">
        <a class="item button positive" ng-click="clicked('tooHard')">{{ localize("Too Hard!") }}</a>
        <a class="item button positive" ng-click="clicked('skip')">{{ localize("Skip") }}</a>
        <a class="item button positive" ng-click="clicked('tooEasy')">{{ localize("Too Easy!") }}</a>
        <a class="item button positive" ng-click="clicked('gabiWrong')">{{ localize("I was right but you said I was wrong.") }}</a>
        <ion-toggle class="item" ng-model="settings.hintMode" toggle-class="toggle-positive">{{ localize("Hint Mode") }}</ion-toggle>
        <a class="item button positive" ng-click="clicked('tryAgain')">{{ localize("OK") }}</a>
    </div>

</ion-content>