
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-default">

    <!-- Translate Tab -->
    <ion-tab title="Translate" icon="icon ion-ios7-mic" href="#/tab/translate">
        <ion-nav-view name="translate-tab"></ion-nav-view>
    </ion-tab>

    <!-- Lets Go -->
    <ion-tab title="Lets Go" icon="icon ion-plane" href="#/tab/letsgo">
        <ion-nav-view name="letsgo-tab"></ion-nav-view>
    </ion-tab>

    <!-- Info Tab -->
    <ion-tab title="Settings" icon="icon ion-ios7-gear" href="#/tab/settings">
        <ion-nav-view name="settings-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>
