/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
    display: block;
    margin: 15px auto;
    width: 96px;
    height: 96px;
}

.gabi-centered {
    /*display: block;*/
    margin-left: auto;
    margin-right: auto;
    align: center;
    text-align: center;
}

.gabi-left {
    /*display: block;*/
    margin-left: 0px;
    align: left;
    text-align: left;
}

.gabi-right {
    /*display: block;*/
    margin-right: 0px;
    align: right;
    text-align: right;
}

.gabi-float-left {
    float: left;
}

.gabi-float-right {
    float: right;
}

.gabi-hidden {
    visibility: hidden;
}

.gabi-vertically-centered {
    display: table-cell;
    vertical-align: middle;
}

.gabi-recordbutton {
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: -8px;
}

.gabi-thinheader {
    margin: -0px 0px -6px 0px;
}

.gabi-navbuttonrow {
    margin-top: 10px;
}

.gabi-bottomaligned {
    position:absolute; bottom:20;
}

.gabi-advancedlink {
    margin-top: 12px;
}

.gabi-narrowbottom {
    margin-bottom: -6px;
}

.gabi-minusbottom {
    margin-bottom: -25px;
    padding-bottom: -20px;
}

.gabi-superminusbottom {
    margin-bottom: -40px;
    padding-bottom: -20px;
}

.gabi-button-highlighted {
    border:5px solid #ff8c00;
    -webkit-box-shadow:0 0 6px #007eff;
    -moz-box-shadow:0 0 5px #007eff;
    box-shadow:0 0 5px #007eff;

    /*outline-style: solid;*/
    /*outline-width: 10px;*/
    /*outline-color: #ff8c00;*/
    /*-webkit-animation-name: blinker;*/
    /*-webkit-animation-duration: 2s;*/
    /*-webkit-animation-timing-function: linear;*/
    /*-webkit-animation-iteration-count: infinite;*/

    /*-moz-animation-name: blinker;*/
    /*-moz-animation-duration: 2s;*/
    /*-moz-animation-timing-function: linear;*/
    /*-moz-animation-iteration-count: infinite;*/

    /*animation-name: blinker;*/
    /*animation-duration: 2s;*/
    /*animation-timing-function: linear;*/
    /*animation-iteration-count: infinite;*/
}

.gabi-button-old {
    border:5px solid #ffffff;
    -webkit-box-shadow:0 0 6px #ffffff;
    -moz-box-shadow:0 0 5px #ffffff;
    box-shadow:0 0 5px #ffffff;
    opacity: 0.75;
}

.gabi-spaceabove {
    margin-top: 20px;
}

.gabi-page-finished {
    background-color: #dddddd;
}
.gabi-img-small {
    width: 40px;
    height: 40px;
    margin-top: -12px;
    margin-right: -10px;
    /*vertical-align: middle;*/
}

/*.gabi-valign {*/
    /*display: table;*/
    /*border: 1px solid red;*/
/*}*/

/*.gabi-valign img {*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    /*text-align: center;*/
/*}*/

/*.gabi-vmiddle-align{*/
    /*width:500px;*/
    /*margin:0 auto;*/
    /*border:1px solid blue;*/
    /*overflow:hidden;*/
/*}*/
/*.gabi-vmiddle-align div{*/
    /*display:inline-block;*/
    /*vertical-align:middle;*/
    /*float: right;*/
    /*width:49%;*/
/*}*/



@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}