/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.gabi-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align: center;
    text-align: center;
}

.gabi-hidden {
    visibility: hidden;
}

.gabi-vertically-centered {
    display: table-cell;
    vertical-align: middle;
}

.gabi-recordbutton {
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: -8px;
}

.gabi-thinheader {
    margin: -0px 0px -6px 0px;
}

.gabi-navbuttonrow {
    margin-top: 10px;
}

.gabi-bottomaligned {
    position:absolute; bottom:20;
}

.gabi-advancedlink {
    margin-top: 12px;
}
